/* ========== HOME ========== */

@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .menu {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #eee;
    height: 100vh;
    padding-top: 100px;
    width: 300px;
    text-align: center;
    transform: translate(110%);
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.15);
  }

  .menu.active {
    transform: translate(0);
  }

  .menu_item {
    display: block;
    margin: 20px 0;
  }

  .menu_link {
    color: #333;
  }

  .toggle_icon {
    display: block;
  }

  .close_icon {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .home_content h4 {
    font-size: 16px;
  }
  .home_content h1 {
    font-size: 32px;
  }
  .home_content p {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .home_container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-content: center;
  }

  .home_content {
    order: 2;
    text-align: center;
  }

  .home_social {
    justify-content: center;
  }

  .home_img {
    text-align: center;
  }
}

/* ========== ABOUT ========== */

@media screen and (max-width: 992px) {
  .about_container {
    grid-template-columns: 3fr 2fr;
  }
}

@media screen and (max-width: 768px) {
  .about_container {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
  .about_info {
    justify-content: center;
  }
  .about_info > div .text {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .about_img img {
    width: 100%;
  }
}

/* ========== EXPERTISE ========== */

@media screen and (max-width: 992px) {
  .expertise_container {
    grid-template-columns: 1fr;
  }

  .expertise_tabs {
    display: none;
  }

  .expertise_wrap {
    padding: 20px 15px;
  }
}

@media screen and (max-width: 576px) {
  .expertise_wrap {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .expertise_wrap .expertise_wrap-icon {
    margin-bottom: 15px;
  }
  .expertise_wrap-content {
    width: 100%;
  }

  .progressBoxs {
    grid-template-columns: 1fr;
  }
}

/* ========== PORTFOLIO ========== */

@media screen and (max-width: 992px) {
  .portfolio_wrap-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .portfolio_wrap-container {
    grid-template-columns: 1fr;
  }

  .portfolio_filters li {
    font-size: 16px;
  }
}

/* ========== CONTACT ========== */

@media screen and (max-width: 576px) {
  .contact_content {
    padding: 0;
  }

  .inputs {
    flex-direction: column;
  }
}
